/* estilos minimos para poder ver HAY QUE CAMBIARLOS!!!!!! */

.cart {
    position: fixed;
    top: 70px;
    right: 0;
    width: 300px;
    background: white;
    border-left: 2px solid #ddd;
    padding: 1em;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    max-height: 100vh;
    overflow-y: auto;
  }
  
  .hidden {
    display: none;
  }